* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #F2F2F2;
}
.info {
    margin: 20px;
}
.title {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #3498DB;
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.title i {
    color: white;
    font-size: 20px;
}
.title p {
  background-color: transparent; 
  margin: 0; 
}
.cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    height: auto;
    width: 280px;
    text-align: center;
    border-radius: 13px;
}
.head {
    color: #3498DB;
    font-size: 24px;
}
.para {
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    word-break: break-all;
}
.card img {
    margin-top: 20px;
    width: 230px;
    height: 320px;
    border-radius: 10px;
}
.cards .card:nth-child(4) img {
    margin-top: 20px;
    width: 230px;
    height: 265px;
    border-radius: 10px;
}
.cards .card:nth-child(5) img {
    margin-top: 20px;
    width: 230px;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}