* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(to right, #9762BC, #77A9DE);
}
.info{
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}
.avatar{
    width: 85px;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px auto;
    border-radius: 50%;
}
.avatar img{
    background-color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.text{
    text-align: center;
    margin: 15px auto;
}
.text h2{
    margin: 5px auto;
    font-size: 17px;
    color: red;
}
.text h3{
    margin: 3px auto;
    font-size: 11px;
}
.text p{
    margin: 8px auto;
    text-align: left;
    font-size: 8px;
    color: rgb(35, 34, 34);
}
.contact{
    justify-content: center;
    display: flex;
    gap: 15px;
}
.mxh {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-size: 11px;
}
.contact a{
    text-decoration: none;
}